<!DOCTYPE html>
<html lang="en">

<head>
    <title>500</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>

<div id="header"><h1><spain id="colorLetter">A</spain>scii <spain id="colorLetter">A</spain>rt <spain id="colorLetter">W</spain>eb</h1></div>

<div id="continer">
    <div id="ErrorMsg">
        <h1>500 Internal Server Error</h1>
    </div>
</div>


<div id="footer"><spain id="colorLetter">Created By:</spain>&nbsp;<spain id="colorLetter">R</spain>uqaya <spain id="colorLetter">H</spain>elal,   &nbsp;&nbsp;the Genius <spain id="colorLetter">M</spain>aryam <spain id="colorLetter">A</spain>bbas</div>
</body>

</html>